
.index__a{
    text-decoration: none;
    transition: all 0.5s ease;
    .index__li
    {
        max-width: 200px;
        margin: 10px 0px;
        padding: 10px 20px;
        list-style-position: inside;
        list-style: none;
        text-decoration: none;
        background-color: black;
        color: white;
        border-left: 10px solid black;
        transition: all 0.5s ease;

        &:hover 
        {
          transform: translateX(10px);
          border-left: 10px solid rgb(146, 146, 146);
        }
    }
}
